html.dark {
    --primary-color-text: #fff;
    --icon-color: brightness(0) saturate(100%) invert(93%) sepia(7%)
        saturate(27%) hue-rotate(243deg) brightness(107%) contrast(106%);
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate-color: #ededf6;
}
